.inputfield {
    position: relative;
    margin-top: 20%;
    width: 38%;
    height: 120px;
    margin-left: 35%;
}

.icon {
    position: relative;
    margin-left: 70%;
    bottom: 38px;
}

.button {
    position: absolute;
    margin-top: 2%;
    margin-right: 2px;
}




